
/* The whole individual cards */
.MuiPaper-root{
    padding: 10px;
    margin-right: 2px;
    margin-bottom: 15px;
}


.MuiFormGroup-root {
    padding: 20px;
}

.MuiPaper-root {
    padding: 20px;
}

.employer-form{
    padding-left: 55px;
    padding-bottom: 20px;
    display: grid;
    justify-content: center;
}


