.page-container-actual{
    display: grid;
}

.card-container{
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.table-margin-container{
    max-width: 700px;
    display:flex;
    justify-content: center;
    margin:auto;
}

.back-button{
    display:flex;
    justify-content: center;
}